<configuration>

    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{pekkoSource}] - %msg%n</pattern> -->
            <!-- <pattern>%-5level [%date{ISO8601}] [%X{pekkoSource}] - %msg%n</pattern> -->
            <pattern>%d{ISO8601} %-5level [%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
